<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Modules\Banner\Api\Data\BannerInterface"
                type="Modules\Banner\Model\Banner"/>

    <preference for="Modules\Banner\Api\BannerRepositoryInterface"
                type="Modules\Banner\Model\BannerRepository"/>

    <preference for="Modules\Banner\Api\Data\BannerSearchResultInterface"
                type="Magento\Framework\Api\SearchResults" />

    <virtualType name="Modules\Banner\Ui\Components\DataProvider\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="name" xsi:type="string">sample_listing_data_source</argument>
            <argument name="primaryFieldName" xsi:type="string">banner_id</argument>
            <argument name="requestFieldName" xsi:type="string">id</argument>
            <argument name="mainTable" xsi:type="string">modules_banner_banners</argument>
            <argument name="resourceModel" xsi:type="string">Modules\Banner\Model\ResourceModel\Banner\Collection</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="sample_listing_data_source" xsi:type="string">Modules\Banner\Ui\Components\DataProvider\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
