<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Modules\Banner\Api\Data\BannerInterface"
                type="Modules\Banner\Model\Banner"/>

    <preference for="Modules\Banner\Api\BannerRepositoryInterface"
                type="Modules\Banner\Model\BannerRepository"/>

    <preference for="Modules\Banner\Api\Data\BannerSearchResultInterface"
                type="Magento\Framework\Api\SearchResults" />
</config>
